/* @import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Praise&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss';

@font-face {
  font-family: 'Chomsky';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/Chomsky.otf') format('opentype');
}

/* @font-face {
  font-family: 'Gieonto';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('/fonts/Gieonto.otf') format('opentype');
} */

@theme {
  --font-chomsky: 'Chomsky', serif;
  --font-poppins: 'Poppins', sans-serif;
  /* --font-outfit: 'Outfit', sans-serif;
  --font-noto-sans: 'Noto Sans', sans-serif;
  --font-gieonto: 'Gieonto', sans-serif;
  --font-robot-mono: 'Roboto Mono', monospace;
  --font-courier-prime: 'Courier Prime', monospace;
  --font-cascadia-code: 'Cascadia Code', monospace; */
}

.firebase-emulator-warning {
  display: none;
}
